body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.container-box{
    background:linear-gradient(rgb(247, 194, 96),rgb(247, 135, 154));
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    height: 50vh;
    width:auto;
    background-color: aliceblue;
    box-shadow: 3px 3px 8px rgb(109, 104, 104);
    padding: 20px;
    border-radius: 10px;
}
h1{
    text-transform: lowercase;
    text-align: center;
    color: rgb(80, 77, 77);
}
.input-details{
   display: flex;
   justify-content: center;
   flex-direction: column;
}
.input-details label{
    font-size: 12px;
    margin: 8px 0 5px 10px;
}
.input-details .inputfields{
    border: none;
    font-size: 15px;
    padding: 5px 15px;
    font-weight: 500;
    border-radius: 15px;
    border: .125px solid rgb(211, 209, 209);
}
button{
    margin: 8px 0 0 66px;
    background:linear-gradient(90deg,rgb(247, 194, 96),rgb(247, 135, 154));
    padding: 5px 0;
    width:100px;
    font-size: 15px;
    color: rgb(49, 45, 45);
    font-weight: 600;
    border-radius: 15px;
    border: none;
    border: 4px solid white;
    cursor: pointer;
}
button:hover{
    background:linear-gradient(180deg,rgb(247, 194, 96),rgb(247, 135, 154));
}
#showcalculatedemi{
    margin-top: 20px;
    height:65px;
    padding:0 10px;
    width: auto;
    font-size: 14px;
    line-height: 22px;
    overflow: hidden;
    border-radius: 5px;
}

/* Css ends here  in cloned */
/* end of style in main */
